.headline {
  z-index: 15;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  font-family: 'libre_bold';
  font-weight: bold;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  padding-left: 20px;
  padding-bottom: 50px;
}
.headline2 {
  z-index: 15;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  font-family: 'drugsreg';
  font-weight: bold;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  padding-left: 25px;
  padding-bottom: 30px;
}

.nav {
  display: flex;
  flex-direction: row;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 6vh;
  border-bottom: 2px white solid;
  z-index: 15;
  font-size: clamp(2rem, 2vw + 1rem, 4rem);
  font-family: 'drugsreg';
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.7px;
  -webkit-text-stroke-color: white;

  position: absolute;
  inset: 0;
  list-style: none;
  padding-right: 50px;
}
.nav > li:hover {
  color: rgb(32, 32, 32);
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: rgb(32, 32, 32);
  cursor: pointer;
}
.nav > li {
  padding-left: 1.5vw;
}

.heroimage {
  z-index: 10;
  overflow-y: hidden;
  position: absolute;
  display: inline;
  inset: 0;
  height: auto;
  width: 100vw;
  background: url('/house2.jpg') no-repeat center;
  background-size: cover;
}
.box {
  overflow: hidden;
  z-index: 10;
  position: absolute;
  inset: 0;
  height: 100vh;
  background: rgb(243, 243, 243) no-repeat center;
  background-size: contain;
}

@media (max-width: 1000px) {
  .headline {
    font-size: clamp(2em, 3em + 20%, 4em);
    line-height: 1em;
  }
  .tagline {
    font-size: clamp(1em, 2em + 20%, 3em);
  }
  .nav {
    padding-right: 10px;
    font-size: clamp(1.2em, 1.5em, 2em);
  }
}
@media (min-width: 1000px) {
  .headline {
    font-size: clamp(2em, 5.6em + 20%, 6em);
    line-height: 4rem;
  }
  .tagline {
    font-size: clamp(2em, 3em, 4em);
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
  }
  .nav {
    font-size: clamp(1.2em, 1.5em, 2em);
  }
}
